<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Animal Chess - Menu</title>
    <link rel="stylesheet" href="../menu/menu.css">
</head>
<body>
    <div class="header">
        <p>Animal Chess for Spring</p>
    </div>
    <div class="body">
        <form name="menuForm" method="get">
            <input name="battle" type="button" value="battle" onclick="onClickBattle();">
            <input name="config" type="button" value="config" onclick="onConfigClicked();">
        </form>
    </div>
</body>
<script type="text/javascript" src="../menu/menu.js"></script>
</html>
